footer {
    position: absolute;
    bottom: 0;
    background-color: $azul;
    height: 75px;
    width: 100%;
    display: flex !important;
    align-items: center;
    .container {
        margin-bottom: 0;
        p {
            color: $branco;
        }
        a {
            color: $amarelo;
        }
    }
}