@import './../organisms/move';

.page-container {
    min-height: 100vh;
    position: relative;
    .page-wrap {
        padding-bottom: 75px;
    }
}

.nav-color {
    background-color: rgba($roxo, .9) !important;
}

.banner {
    background: {
        image: url('./../images/site/bg-roxo.jpg');
        size: cover;
        position: bottom center;
        repeat: no-repeat;
    }
    @include mq('desktop-ultra') {
        background-image: url('./../images/site/bg-roxo-ultra.jpg');
    }
}

.btn-principal {
    background-color: $azul;
    color: $branco;
    &:hover {
        background-color: darken($azul, 10%);
    }
    &:visited, &:focus {
        background-color: $azul;
        color: $branco;
    }
}

.contato {
    background-color: $roxo;
}

footer {
    background-color: $roxo;
}